@font-face {
  font-family: 'icons';
  src: url('./icons.eot?69655951');
  src: url('./icons.eot?69655951#iefix') format('embedded-opentype'),
       url('./icons.woff2?69655951') format('woff2');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-scroll-down:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-arrow-down:before { content: '\e805'; } /* '' */
.icon-lock-circled:before { content: '\e806'; } /* '' */
.icon-like:before { content: '\e807'; } /* '' */
.icon-portfolio:before { content: '\e808'; } /* '' */
.icon-reviews:before { content: '\e809'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-phone-sound:before { content: '\f2a0'; } /* '' */
.icon-handshake:before { content: '\f2b5'; } /* '' */